.filmsPages {
  position: relative;
}
.title {
  padding: 10px 20px;
  background-color: #282c34;
  text-align: center;
  color: whitesmoke;
  position: relative;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.clicky {
  width: 80px;
  height: 22px;
  border: none;
  background-color: rgb(172, 160, 162);
  color: rgb(240, 240, 240);
  outline: none;
}
.title a .clicky {
  height: 22px;
}
.baseFIlm {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(240, 240, 240);
  letter-spacing: 5px;
  font-size: 20px;
}
@media (min-width: 520px) {
  .wrapPages {
    display: flex;
    justify-content: center;
    background-color: #191b1f;
  }
  .filmsPages {
    width: 364px;
  }
}
